﻿<div id="{{elementId}}" #modalcontainer class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">{{story?.Id ? 'View story' : 'Create story'}}</h4>
            </div>
            <div class="modal-body">
                <div class="pull-right col-sm-1 col-xs-1 col-lg-1" [hidden]="!isReadonly">
                    <a class="simple-btn glyphicon glyphicon-pencil edit-story" (click)="editMode = true" *ngIf="!editMode"></a>
                    <a class="simple-btn glyphicon glyphicon-share-alt edit-story" (click)="cancelEditMode()" *ngIf="editMode"></a>
                </div>

                <form [formGroup]="storyForm" >
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <em *ngIf="title && title.invalid" class="text-danger">Required</em>
                        <input id="title" type="text" name="title" formControlName="title" class="form-control" placeholder="Title" [readOnly]="isReadonly && !editMode" />
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <em *ngIf="description && description.invalid" class="text-danger">Required</em>
                        <textarea id="description" name="description" formControlName="description" rows="4" type="text" class="form-control" placeholder="Description" [readOnly]="isReadonly && !editMode"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" #closeBtn>Close</button>
                <button type="button" class="btn btn-primary" (click)="save()" data-dismiss="modal" [disabled]="storyForm.invalid || (isReadonly && !editMode)">Save</button>
            </div>
        </div>
    </div>
</div>