<div class="col-md-4" *ngIf="!isLoggedIn">
  <login></login>
</div>
<div *ngIf="account" class="col-md-4" >
    Hello, you are registered with initials {{account.Initials}} and email: {{account.Email}} 
</div>
