﻿<div class="add-editor col-sm-6 col-xs-6 col-lg-4">
    <input ngui-auto-complete class="col-sm-9 col-xs-9 col-lg-9"
           [(ngModel)]="selectedEditor"
           placeholder="Add new editor by email"
           [source]="suggestedEmails.bind(this)"
           list-formatter="Email"
           min-chars="3"
           accept-user-input="false"/>
    <button class="btn btn-primary" (click)="addSelectedEditor()" *ngIf="selectedEditor && selectedEditor.GoogleId">+Add</button>
</div>