.members-list {
    height: 100%;
    background-color: #62908c;
    position: fixed;
    right: 0;
    top: 0;
    width: 150px;
    margin-top: 50px;
}

.members-menu {
    height: 100%;
    background-color: #4f948e;
    position: fixed;
    right: 0;
    top: 0;
    width: 50px;
    margin-top: 50px;
}
.members-list .member-initials {
    background-color: #D6DADC;
    color: #4d4d4d;
    display: block;
    float: left;
    border-radius: 50%;
    height: 30px;
    font-size: 16px;
    width: 30px;
    margin: 5px;
    padding: 2px 0 0 2px;
}

.expand-arrow {
    position: absolute;
    top: 50%;
    font-size: 40px;
}