﻿<div>
    <div class="members-menu" [hidden]="expandMembersMenu">
        <a class="glyphicon glyphicon-chevron-left expand-arrow simple-btn" (click)="expandMembersMenu = true"></a>
    </div>
    <div class="members-list" [hidden]="!expandMembersMenu">
        <div>
            <a class="glyphicon glyphicon-chevron-right expand-arrow simple-btn" (click)="expandMembersMenu = false"></a>

            <div *ngFor="let editor of editors">
                <span class="member-initials"  dnd-draggable [dragEnabled]="true" [dragData]="editor" [dropZones]="['members-dropZone']">{{editor.Initials}}</span>
            </div>
        </div>
    </div>
</div>