﻿<div class="board-control" (mouseleave)="editBoardId = ''">         
    <span [hidden]="editBoardId === board.Id">{{board.Title}} </span>
    <a class="col-sm-1 col-xs-1 col-lg-1 simple-btn pull-right" [hidden]="editBoardId || showDeletionOfBoardId === board.Id"  (click)="showDeletionOfBoardId = board.Id">X</a>
    <span class="simple-btn pull-right " *ngIf="showDeletionOfBoardId === board.Id" >Are you sure? 
        <a class="simple-btn" (click)="deleteBoard(board.Id, itemIndex)">Yes</a>
        <a class="simple-btn" (click)="showDeletionOfBoardId = ''">No</a>
    </span>
    <a class="glyphicon glyphicon-edit simple-btn col-sm-1 col-xs-1 col-lg-1 pull-right" *ngIf="!editBoardId && showDeletionOfBoardId !== board.Id" (click)="editBoard(board.Id, board.Title)"></a>
    <form [hidden]="editBoardId !== board.Id"  [formGroup]="editBoardForm" class="edit-board-name" (ngSubmit)="sendEditBoard()">
        <input formControlName="changedBoardTitle" type="text" class="form-control" />
    </form>   
</div>