﻿<div class="create-board">
    <form class="form-group new-board-form" [formGroup]="newBoardForm" (ngSubmit)="addNewBoard(newBoardForm.value)">
        <input formControlName="newBoard" id="newBoard" type="text" class="form-control" placeholder="Add new board" />
    </form>
</div>