.project {
    font-size: 20px;
    margin: 10px;
    min-width: 200px;
}

.project .glyphicon-remove-circle {
    color: red
}

.project-title {
    color: aqua;
}

.edit-project-name {
    padding-top: 10px;
    margin-top: 20px;
}

.new-project-input {
    min-width: 200px;
    max-width: 250px;
}
