﻿<div class="project-boards">
    <div>
        <h2 style="padding-left: 20px;">{{project?.Title}}</h2>
        <create-board [projectId]="project?.Id"></create-board>
        <add-editor [projectId]="project?.Id" [(editors)]="editors"></add-editor>
    </div>
    <div dnd-sortable-container [sortableData]="boards" [dropZones]="['boards-dropZone']" style="height: 75%"> 
        <div *ngFor="let board of boards; let itemIndex = index" class="board-style" dnd-sortable  [sortableIndex]="itemIndex" (dragend)="reorderBoards()" [dragEnabled]="dragBoards">
            <div class="panel panel-default pull-left board-panel">
                <div class="panel-heading board-panel-heading"  (mouseenter)="dragBoards = true" (mouseleave)="dragBoards = false">
                    <board-controls [board]="board" [projectId]="project.Id"></board-controls>
                </div>
                <div class="panel-body board-panel-body" dnd-sortable-container [dropZones]="['stories-zone']" [sortableData]="board.Stories" >
                    <div *ngFor="let story of board.Stories; let storyIndex = index" style="padding:5px;" dnd-sortable [sortableIndex]="storyIndex" [dragEnabled]="!dragBoards" >
                        <div class="story-style" dnd-droppable (onDropSuccess)="dropInBoard(story, $event, board)" [dropZones]="['members-dropZone', 'stories-zone']" >
                            <label>{{story.Title}}</label>
                            <div *ngFor="let assignedMember of story.Assigners">
                                <a class="member-initials" (click)="openPopup(story, assignedMember.GoogleId)">{{assignedMember.Initials}}</a>
                            </div>
                            <a class="col-sm-1 col-xs-1 col-lg-1 simple-btn pull-right" (click)="showDeletionOfStoryId = story.Id" *ngIf="showDeletionOfStoryId !== story.Id">X</a>
                            <span class="row primary-btn" *ngIf="showDeletionOfStoryId === story.Id" (click)="deleteStory(board.Id, story.Id)">Are you sure? <a  (click)="deleteStory(board.Id, story.Id)" >Yes</a> <a (click)="showDeletionOfStoryId = ''">No</a></span>
                            <a class="col-sm-1 col-xs-1 col-lg-1 simple-btn pull-right glyphicon glyphicon-eye-open"  *ngIf="showDeletionOfStoryId !== story.Id" (click)="storyToEdit = story"  data-toggle="modal" data-target="#editStory" style="padding-top: 2px;"></a>
                        </div>
                    </div>
                    <a (click)="storyToBoardId = board.Id" class="create-story" data-toggle="modal" data-target="#createStory">+ Add a story</a>
                </div>
            </div>
        </div>
    </div>

    <edit-story elementId="createStory" [boardId]="storyToBoardId" [projectId]="project?.Id"></edit-story>
    <edit-story elementId="editStory" [boardId]="storyToEdit?.BoardId" *ngIf="storyToEdit?.Id" [projectId]="project?.Id" [story]="storyToEdit"></edit-story>
    <members [(editors)]="editors"></members>
    <confirmation-modal title="Remove from story" (onConfirm)="removeEditor($event)" #removeFromStoryModal></confirmation-modal>
</div>