.board-panel {
    width: 250px;
    margin-left: 5px;
    min-width: 200px;
    height: 100%;
}

.board-panel-heading {
    background-color: #6e89a2;
    font-weight: bold;
}

.board-panel-body {
    background-color: white;
    color: black;
    overflow-y: auto;
    min-height:50%;
}

.create-story {
    color: grey;
    font-weight: bold;
}

.new-board-form {
    margin-bottom: 0;
}

.project-boards {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(100% - 75px);
    margin-right: 60px;
}

.story-style {
    max-height: 150px;
    white-space: normal;
    overflow: hidden;
    border: black;
    border-style: dotted;
    padding: 5px;
    background-color: #dcdad7;
}

.story-style a {
    color: #4f948e;
}

.board-style {
    margin: 0 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    max-height: 100%;
    overflow-y: auto;
}

.member-initials {
    background-color: #6e89a2;
    color: white !important;
    display: block;
    float: left;
    border-radius: 50%;
    height: 30px;
    font-size: 16px;
    width: 30px;
    margin: 5px;
    padding: 2px 0 0 2px;
}


