﻿<div>
    <div>
        <h2>Hey {{userName}}, These are your projects</h2>
    </div>
    <div class="col-sm-6 col-xs-12 col-lg-6 pull-right">
        <form class="form-group" [formGroup]="newProjectForm" (ngSubmit)="addNew(newProjectForm.value)">
            <input formControlName="newProjectTitle" id="newProjectTitle" type="text" class="form-control new-project-input" placeholder="Add new project" />
        </form>
    </div>
    <div class="col-sm-6 col-xs-12 col-lg-6">
        <div *ngFor="let project of projects; let itemIndex = index">
            <div class="badge badge-light project col-sm-8 col-xs-8 col-lg-8">
                <a (click)="view(project.Id)" class="pull-right project-title">
                    {{project.Title}}
                </a>
                <a class="col-sm-1 col-xs-1 col-lg-1 simple-btn" (click)="deleteProject(project)">X</a>
                <span *ngIf="!editProjectId" class="glyphicon glyphicon-edit c simple-btn ol-sm-1 col-xs-1 col-lg-1" (click)="editName(project, itemIndex)"></span>
                <span *ngIf="!!editProjectId && editProjectId === project.Id" class="glyphicon glyphicon-refresh simple-btn col-sm-1 col-xs-1 col-lg-1" (click)="cancelEditName()"></span>
                <form [formGroup]="editProjectForm" class="edit-project-name" (ngSubmit)="edit(project, changedProjectTitle.value)">
                    <input *ngIf="editProjectId === project.Id" formControlName="changedProjectTitle" type="text" class="form-control"  />
                </form>
                <div class="alert" role="alert" *ngIf="deleteProjectId === project.Id" >
                    Are you sure ? <a (click)="cancelDelete()">No</a>  /  <a (click)="delete(itemIndex)">Yes</a>
                </div>
            </div>
        </div>
    </div>

</div>