<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">KanPan</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/home']" routerLinkActive="is-active">Home<span></span></a></li>
            <li><a [routerLink]="['/about']" routerLinkActive="is-active">About<span></span></a></li>
            <li *ngIf="authService.checkLogin()"><a [routerLink]="['/user/projects']" routerLinkActive="is-active">Projects<span></span></a></li>
            <li *ngIf="authService.checkLogin()" class="label btn-primary"><a (click)="logout()"><span>Logout</span></a></li>
        </ul>
    </div>
</nav>
<main>
    <router-outlet></router-outlet>
</main>