<!doctype html>
<html>
<head>
    <title>KanPan</title>
    <base href="~/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="app/styles.css" />
    <link rel="stylesheet" href="lib/ng2f-bootstrap/dist/bootstrap.min.css">
    <link rel="stylesheet" href="lib/ng2-dnd/style.css">

    <script src="dist/lib/jquery/dist/jquery.min.js"></script>
    <script src="dist/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="dist/lib/core-js/client/shim.min.js"></script>

    <script src="dist/lib/zone.js/dist/zone.js"></script>
    <script src="dist/lib/systemjs/dist/system.src.js"></script>
    <script src="dist/lib/signalr/jquery.signalR.js"></script>

    <script defer src="https://apis.google.com/js/platform.js"></script>
    @*<script src="/signalr/hubs"></script>*@
    <script src="systemjs.config.js"></script>

    <script>
        System.import('app').catch(console.error.bind(console));
    </script>
</head>
<body>
    <app-root>Loading...</app-root>
</body>
</html>
