.simple-btn {
  color: white;
  font-weight: bold;
}
.simple-btn:hover {
    color: aqua;
}

form input {
    background-color: white !important;
}

form input[readonly], form textarea[readonly] {
    background-color: #ececec !important;
    cursor: not-allowed;
}

input {
    height: 35px;
}

body {
    height: 100%;
}

.btn-primary {
    background-color: #2fafa3 !important;
}

.btn-primary:hover {
    background-color: #4f948e !important;
}

.confirmation-popup .btn-primary {
    background-color: #2fafa3 !important;
}
.confirmation-popup .popup-footer button {
    background-color: #2fafa3 !important;
}

.confirmation-popup .popup-header {
    color: black !important;
    border: 0;
}

.confirmation-popup .popup-body {
    display: none !important;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #4f948e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4f948e;
    -webkit-box-shadow: inset 0 0 6px #4f948e;
}
